{% extends 'base.html' %}

{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='detail.css') }}">
{% endblock %}

{% block content %}
    <div class="livre-container">
        <h1 class="livre-title">{{ book.title }}</h1>
        <div class="livre-detail">
            <div class="livre-image">
                <img src="{{ url_for('static', filename='images/' + book.img) }}" alt="{{ book.title }}" title="{{ book.title }}" class="img-fluid">
            </div>
            <div class="livre-info text-center">
                <h2 class="livre-subtitle">{{ book.title }}</h2>
                <h3 class="livre-author">Auteur : {{ book.author.name }}</h3>
                <h3 class="livre-price">Prix : {{ book.price }} €</h3>
                <div class="button-container">
                    <button type="button" class="btn acheter-button" onclick="window.location.href='{{ book.url }}';">Acheter</button>
                    <button type="button" class="btn modifier-button" onclick="window.location.href='{{ url_for('edit_author', id=book.id) }}';">Modifier</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
